.container {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: transparent;
    padding-left:1em;
    padding-top:1em;
    font-family: monospace;
    font-size: 15px;
    flex-wrap: wrap; /* Keeps wrapping */
    min-height: 2em; /* Adjusted for content flexibility */
    width:fit-content
}

.inputdiv{
    display:flex;
    height:1.5em;
    align-items: center;
    gap:5px;
    flex-grow: 0;
    max-width:60%;
}

input{
    font-family: monospace;
    background-color: black;
    color:white;
    border-color:white;
    max-width: 40%;
    padding: 0.2em; /* Adjust to fit your design */
    margin: 0;
    font-size: 15px;
    
}
button{
    background-color: black;
    color:white;
    border-color:white;
    border-radius:5px;
    padding:0.5em;
    margin:0.5em;
}

button:hover{
    background-color:white;
    color:black;
}

svg{
    width:2em;
}

.errormsg{
    color:red;
}

p{
    max-height: 2em;
}